.nav-cont{
    width: 100%;
    height: 300px;
    background-color: #E4EDF2;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 30%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    /* border: 1px solid black */
}

.nav{
    height: 100px;
    /* margin-top: 0px; */
}

.logo{
    margin-left: 50px;
}

.hng-logo{
    width: 230px;
}

.links{
   
    width: 50%;
    margin-right: 0px;
}

.alinks{
    width: 100%;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.hamburger{
    display: none;
    
}

.landing-body{
    /* border: 1px solid red; */
    width: 85%;
}

.l-cont{
    width: 85%;
}

.landing-text{
    /* border: 1px solid rebeccapurple; */
    width: 60%;
    color: #084482;
    line-height: 15px;
}

.landing-image{
     position: relative;
}

.images{
    /* border: 1px solid royalblue; */
   
}

.l-image1{
    position: absolute;
    top: -20px;
    left: 190px;
}

.l-image2{
    position: absolute;
    left: 190px;
    top: 100px;
}

.l-title{
    font-size: 39px;
}

.l-text{
    font-size: 27px;
    width: 100%;
    line-height: 40px;
}



.section1{
    width: 85%;
}

.sec1-img{
    width: 530px;
height: 430px
}

.sec1-body{
    margin-top: -50px;
    width: 45%;
    color: #084482; 
}

.sec1-title{
    font-size: 40px;
}

.sec1-text{
    font-size: 17px;
    /* border: 1px solid black; */
    width: 73%;
}

.sec1-btn{
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    background-color: #00AEFF;
}


.section2{
    background: #E4EDF2;
    width: 85%;
}

.sec2{
    /* width: 85%; */
    line-height: 8px;
    color: #084482;
}

.sec2-title{
    font-size: 36px;
}

.sec2-text{
    font-size: 14px;
}

.card-box{
    margin-top: 30px;
}

.card{
    background: #00AEFF;
    width: 520px;
    height: 230px;
}

.card-text{
    font-size: 20px;
    color: white;
    width: 70%;
}

.sec3{
    width: 85%;
}

.sec3-title{
    font-size: 35px;
    color: #084482;
}

.card2{
    display: flex;
    background: #00AEFF;
    width: 520px;
    height: 200px;
}

.card2b{
    flex-direction: row-reverse;
    background: #00AEFF;
    width: 520px;
    height: 200px;
}

.main-card{
    position: relative;

}

.main-card2{
    position: relative;

}

.card-img{
    flex-basis: 50%;
}

.rule{
    border-left: 2px solid white;
}

.c-text{
    width: 40%;
    color: white;
    text-align: right;
}

.c-text2{
    width: 40%;
    color: white;
    text-align: left;
}


.card2-text{
    font-size: 15px;
}

.round{
    box-shadow:  4px 6px 15px rgba(0, 0, 0, 0.15);;
    position: absolute;
    bottom: 140px;
    left: -45px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00AEFF;
}

.round2{
    box-shadow:  4px 6px 15px rgba(0, 0, 0, 0.15);;
    position: absolute;
    bottom: 140px;
    left: 455px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00AEFF;
}

#hide-button{
        display: none;
        width: 150px;
        height: 50px;
        background-color:  #00AEFF;
        border: none;
        color: white;
    }


.sec4{
    width: 85%;
}

.sec4-title{
    font-size: 35px;
    color: #084482;
}

.sec4-text{
    color: #084482;
    margin-top: 50px;
    text-align: center;
    width: 60%;
}

.sponsors{
    flex-wrap: wrap;
}

.btn2{
    margin-top: 50px;
    width: 100px;
    height: 45px;
    background: #00AEFF;
    border: none;
    color: white;
}

.curve{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    bottom: 180px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

footer{
    overflow: hidden;
    position: relative;
    height: 230px;
    color: white;
    background-color: #00AEFF;
}

.footer-body{
    margin-top: 70px;
}

.footer-logo{
    width: 20%;
}

.f-logo{
    width: 100%;
}

.address{
    width: 20%;
}

.address-icon{
    width: 20%;
}

.address-text{
    width: 90%;
    margin-top: 0px;
}

.contact{
    width: 20%;
}

.mail{
    width: 100%;
}

.tele{
    width: 100%;
    margin-top: 10px;
}

.socials{
    width: 20%;
}

.twitter{
    width: 70%;
}

.icon-cont{
    width: 20%;
}

.icon-cont2{
    width: 18%;
}

@media screen and (max-width: 570px){

    .nav-cont{
        height: 120px;
    }

    .nav{
        flex-direction: column;
        height: 60px;
    }

    .logo{
        margin-left: 20px;
        margin-top: 10px;
        width: 100%;
        height: 700px;
        justify-content: space-between;
    }

    .hng-logo{
        width: 35%;
        height: 50px;
    }

    .hamburger{
        display: block;
        margin-right: 60px;
    }

    a{
        /* display: none; */
    }


    .l-cont{
        margin-left: 90px;
        flex-direction: column-reverse;
    }

    .l-title{
        font-size: 29px;
    }
    
    .l-text{
        width: 100%;
        font-size: 19px;
    }

    .landing-text{
        width: 100%;
    }

    .landing-body{
        margin-left: -30px;
        width: 95%;
    }

    .landing-image{
        margin-top: 40px;
    }

    .links{
        width: 100%;
        height: 300px;
    }

    .menu-line{
        margin: 8px;
        width: 40px;
        height: 3px;
        background-color: #084482;
    }

    #hide-link{
        display: none;
        z-index: 1;
    }
    
    .alinks{
        display: none;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
        margin-top: 5%;
        width: 100%;
        background-color: #E4EDF2;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        z-index: 1;
    }
    
    a{
        display: flex;
        justify-content: center;
        color: #084482; 
        /* border: 1px solid white; */
        padding: 30px;
        cursor: pointer;
         margin-left: 20px;
        font-size: 13px;
    }

    a:hover{
        background-color: whitesmoke;
    }
    

    .section1{
        flex-direction: column;
    }

    .sec1-img{
        width: 100%;
        height: 300px
    }

    .sec1-body{
        margin-top: 8px;
        width: 100%;
    }
    
    .sec1-title{
        font-size: 30px;
    }
    
    .sec1-text{
        font-size: 14px;
        width: 100%;
    }

    .sec2-title{
        font-size: 27px;
    }
    
    .sec2-text{
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }

    .card-box{
        flex-direction: column;
    }

    .card{
        background: #00AEFF;
        width: 90%;
        height: 180px;
        margin: 13px;
    }

    .sec3-title{
        font-size: 27px;
    }

    .card2{
        background: #00AEFF;
        width: 90%;
        height: 200px;
        margin: 13px;
    }

    .card2-text{
        font-size: 15px;
    }

    .card-text{
        font-size: 14px;
    }

    #card2b{
        display: none;
    }

    #hide-button{
        display: block;
       
    }

    .sec4-title{
        font-size: 27px;
    }

    .sponsor-img{
        width: 100px;
        height: 40px;
    }

    footer{
        height: 430px;
    }

    .footer-body{
        flex-direction: column;
    }

    .footer-body{
        margin-top: 70px;
    }
    
    .footer-logo{
        width: 50%;
    }
    
    .f-logo{
        width: 100%;
    }
    
    .address{
        margin-top: 10px;
        width: 60%;
        font-size: 13px;
    }
    
    .address-icon{
        margin-top: 10px;
        width: 50%;
    }
    
    .address-text{
        width: 100%;
        margin-top: 0px;
    }
    
    .contact{
        margin-top: 10px;
        width: 60%;
        font-size: 13px;
    }
    
    .mail{
        margin-top: 10px;
        width: 100%;
    }
    
    .tele{
        margin-top: 10px;
        width: 100%;
        margin-top: 10px;
    }
    
    .socials{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        width: 100%;
        font-size: 13px;
    }
    
    .twitter{
        margin-top: 10px;
        width: 40%;
    }
    .curve{
        bottom: 400px;
    }

    .bottom-text{
        font-size: 13px;
    }

    .icon-cont{
        width: 30%;
    }
    
    .icon-cont2{
        width: 26%;
    }
}